:root {
    
    --color-background-base: #daa5204f; 
    --color-primary: #002244;        
    --color-secondary: #00224462;      
    --color-accent: #DAA520;        
    --color-text: #ffffff;           
    --color-background: #ffffff;     
    --color-shadow: rgba(0, 0, 0, 0.2);
    --color-background-myprofile: #DAA520;

}