:root {
    /* Define primary color scheme */
    --color-primary: #3498db;
    --color-secondary: #f4f4f9;
    --color-light-gray: lightgray;
    --color-error: #e74c3c;
    --color-text: #333;
  
    /* Backgrounds */
    --color-background: #ffffff;
    --color-sidebar: #f4f4f9;
  
    /* Shadows */
    --color-shadow: rgba(0, 0, 0, 0.1);
  }